@import 'inc/reset';
@import 'inc/elements';

@logoFont: 'Bad Script', cursive;

body {
  > .main {
    > .page1 {
      background: url('/img/bg.jpg') left top no-repeat;
      background-attachment: fixed;
      background-size: 100%;

      > div {
        width: 30%;
        float: right;
        margin: 0 2% 0 0;
        text-align: center;

        > h1 {
          display: block;
          text-align: center;
          font-family: @logoFont;
          font-weight: normal;
          color: #000;
          font-size: 500%;
          line-height: 340%;
        }

        > div {
          font: 170% @logoFont;

          > span {
            display: block;
          }
        }
      }
    }
  }
}

@import 'inc/onePageScroll';
@import url('http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic');
