@import 'inc/reset';
@import 'inc/elements';

@logoFont: 'Bad Script', cursive;

body {
  background: url('/img/bg.jpg') left top no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  > h1 {
    display: block;
    text-align: center;
    font-family: @logoFont;
    font-size: 64px;
    font-weight: normal;
    color: #000;
  }
}

@import url('http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic');
